<section class="app-container">
    <footer>
        <div class="footer-content-centered">
          <span>Daniel Petrasic</span>
          <span>{{ getCurrentDate() }}</span>
          <div class="social-links">
            <a href="https://www.linkedin.com/in/danielroapetrasic/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/dani3lrp" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </footer>
  </section>
