@import "~@fortawesome/fontawesome-free/css/all.css";

.app-container footer {
    background-color: #f0f0f0;
    padding: 10px 20px; 
    height: 30px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    .footer-content-centered {
      display: flex;
      align-items: center;
  
      > * {
        margin: 0 15px; 
      }
    }
  
    .social-links a {
      display: inline-block;
      margin-right: 15px; 
    }
  
    .social-links a:last-child {
      margin-right: 0; 
    }
  
    .social-links a i {
      font-size: 24px;
    }

  }